.bgSubscribe {
  background-color: #a24281;
  border: 1px solid #a24281;
  width: 400px;
  height: 125px;
}

.bgPageNine {
  background-image: url("public/Pilar Outreach Foundation Images/Pilar Outreach Foundation/Rectangle 1.png");
}
