.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; /* Adjust as needed */
}

h1 {
  font-family: Arial, sans-serif; /* Adjust as needed */
  font-size: 2rem; /* Adjust as needed */
}

.textGray {
  color: #4a4a4a; /* Dark gray color */
}

.textGreen {
  color: #034c3c; /* Dark green color */
}

.middleBg {
  background-color: rgba(20, 53, 44, 0.5);
  border: 1px solid #14352c;
  border-radius: 20px;
  width: 502px;
  height: 550px;
}

.buttonBG {
  background-color: #a24281;
  border: 1px solid #a24281;
  width: 290px;
  height: 47px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgPageThird {
  background-image: url("public/Pilar Outreach Foundation Images/Pilar Outreach Foundation/Mask group.png");
}
