.imageWrapper {
  width: 353px;
  height: 326px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.imageWrapper:hover {
  width: 572px;
  height: 572px;
}

.imageWrapper:hover .image {
  transform: scale(1.62); /* Adjust scaling to fit the desired size */
}
